.ChefSU-Heading{
    justify-content: center;
    width: 200%;
}

.ChefSU-Heading h1 {
   
    color:rgb(11, 2, 136);

}

.csignup-color h1{
    font-weight: bolder;
    font-size: 30px;
    font-weight: bold;
}

.cSignUp-btn span{
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
}
.clogin{
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
}