.mainContainer{
    display: grid;
    grid: 100% / auto auto;
 
  
}

.boxLeft{
    width:620px;
    height:520px;
    background-color:#0000007c;
    border-radius:30px;
    position:relative;
    margin:0 auto;
margin-left: 200px;
     
   }

   .boxLeft h1{
       margin-top: 315px;
       text-align: center;
       color: white;
   }

   .chefNote {
    text-align: center;
    color: white;
   }
  
   .boxRight {
    width:620px;
    height:520px;
    background-color:#0000007c;
    border-radius:30px;
    position:relative;
       
    }

    .boxRight h1{
        margin-top: 315px;
        text-align: center;
        color: white;
    }
 
    .chefNote {
     text-align: center;
     color: white;
    }