.mainContainer{
    display: grid;
    grid: 100% / auto auto;
 margin-top: 50px;
  
}

.boxLeft{
    width:620px;
    height:520px;
   
    border-radius:30px;
    position:relative;
    margin:0 auto;
margin-left: 200px;
     
   }

   .boxLeft h1{
       margin-top: 315px;
       text-align: center;
       color: rgb(5, 5, 5);
   }

   .chefNote {
    text-align: center;
    color: rgb(7, 7, 7);
   }
  
   .boxRight {
    width:620px;
    height:520px;
   
    border-radius:30px;
    position:relative;
       
    }

    .boxRight h1{
        margin-top: 315px;
        text-align: center;
        color: rgb(255, 255, 255);
    }
 
    .chefNote1 {
     text-align: center;
     color: rgb(5, 5, 5);
    }

    .chefNote2 {
        text-align: center;
        color: rgb(255, 255, 255);
       }