
.main-Container {
display: flex;
position: relative;
justify-content: center;
align-content: center;
}

.box-Left{
   flex-direction: column; 
  display:flex;
  justify-content: center;
align-content: center;
  width:700px;
    min-height:550px;
    background-color:#b3b3b39d;
    border-radius:10px;
margin-right: 2px;
    border: 2px solid rgb(2, 2, 2);
   }

   .order-title-lft{

   }

   .order-title-lft h2{
        margin-left: 35%;
       color: rgb(7, 7, 7);
       
   }
  
   .box-right{
    flex-direction: column; 
    display:flex;
    justify-content: center;
  align-content: center;
    width:700px;
      min-height:550px;
      background-color:#b3b3b39d;
      border-radius:10px;
  margin-right: 2px;
      border: 2px solid rgb(2, 2, 2);
   }

   .box-right h2{
    margin-left: 25%;
    color: rgb(7, 7, 7);
    align-content: center;
}

    .ordering-area{
        border: 2px solid rgb(144, 144, 144);
        width:600px;
        margin-left: 7%;
        height: 80px;
        border-radius: 10px;
    }

.list li{
  list-style-type:none;
}

    .bk-quantity{
        margin: 10px;
        width: 300px;
        height: 30px;
        border-radius: 10px;
        }

    .qty-quantity{
        margin: 10px;
        font-weight: bold;
    }

    .add-quantity{
        margin: 10px;
        width: 50px;
        height: 30px;
        border-radius: 10px;
    }

    .ordering-area-display {
       
        width:600px;
        margin-left: 7%;
        height: 280px;
        margin-top: 10px;
        border-radius: 10px;
    }

    .remove-btn {
        display: inline-block;
        border-radius: 4px;
         border: none;
        color: #080808;
        text-align: center;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        font-size: 17px;
        margin-top: 10px;
        font-weight: bold;
        
      }
      
      .remove-btn span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
        
      }
      
      .remove-btn span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .remove-btn:hover span {
        padding-right: 25px;
      }
      
      .remove-btn:hover span:after {
        opacity: 1;
        right: 0;
      }

      .form-control {
          margin-left: 20%;
          width: 400px;
          height: 30px;
          margin-top: 3%;
          border-radius: 10px;
          font-size: 20px;
          font-weight: bold;

      }

      .address-control {
        margin-left: 20%;
        width: 400px;
        height: 60px;
        margin-top: 3%;
        border-radius: 10px;
        font-size: 20px;
        font-weight: bold;
      }

      .order-btn {
        display: inline-block;
        border-radius: 4px;
         border: none;
        color: #080808;
        text-align: center;
        transition: all 0.5s;
        cursor: pointer;
        margin-left: 60px;
        font-size: 22px;
        font-weight: bold;
        margin-top: 20px;
        width: 500px;
        height: 40px;
        background-color: teal;        
      }
      
      .order-btn span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
        
      }
      
      .order-btn span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .order-btn:hover span {
        padding-right: 25px;
      }
      
      .order-btn:hover span:after {
        opacity: 1;
        right: 0;
      }

      .dish-name{
        display: flex;
        justify-content: space-around;
      }

      .addrem-btn{
        margin-top: 0px;
        justify-content: end;
      }

      .total-cost {
        border: 2px solid rgb(2, 2, 2);
        width:80%;
        background: aqua;
        margin-left: 60px;
        border-radius: 10px;
      }



      .remove-btn {
        display: inline-block;
        border-radius: 4px;
         border: none;
        color: #080808;
        text-align: center;
        transition: all 0.5s;
        cursor: pointer;
        margin-left: 10px;
        font-size: 20px;
        font-weight: bold;
        margin-top: 0px;
        width: 100%;
        height: 30px;
        background-color: rgb(253, 74, 74);        
      }
      
      .remove-btn span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
                
      }
      
      .remove-btn span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .remove-btn:hover span {
        padding-right: 25px;
      }
      
      .remove-btn:hover span:after {
        opacity: 1;
        right: 0;
      }

.qty-align{
margin-right: 50px;
}

.subtotal{
  margin-left: 40px;
  margin-top: -25px;
  font-size:20px ;
}