.main-footer {
    color: white;
    background-color: #000852;
    padding-top: 1em;
    padding-left: 10em;
    position: relative;
    bottom: 0;
    width: 100%;
  }

  li Link {
    color: white;
  }