body {

    background-image: radial-gradient(at center center, #c4c5c4c9 0%, #00000085 100%), url('BgImg9.svg') ;
background-color: rgb(1, 80, 145);
    
    background-size: 100%;
    background-position: top right;
    background-repeat: no-repeat;

}


