body {

    background-image: url('./Components/assets/BgImg/BgImg13.png') ;
background-color: rgb(1, 80, 145);
    
    background-size: 100%;
    background-position: top right;
    background-repeat: no-repeat;

}


